
div.panany-gradient div.panel-pane {
  background: #F0EEE1 url('block-gradient-bg.jpg') repeat-x center top;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 6px #cecece;
  padding: 10px;
  margin-bottom: 10px;
  -moz-box-shadow: 2px 2px 6px #cecece;
  -webkit-box-shadow: 2px 2px 6px #cecece;
}

div.panany-gradient div.panel-pane:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

div.panany-gradient h2.pane-title {
  background: #274366;
  border: 1px solid #aaa;
  color: #fff;
  font-size: 18px;    /* TODO: convert pixels to ems / percentage */
  margin: -6px -6px 10px;
  padding: 4px 10px;
}
