
.panel-3col { 
/*  overflow: hidden;  */
}

.panel-3col .panel-col-first { 
  float: left; 
  width: 50%; 
}

.panel-3col .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-3col .panel-col-middle { 
  float: left; 
  width: 25%; 
}

.panel-3col .panel-col-middle .inside { 
  margin: 0 .5em 1em .5em;
}

.panel-3col .panel-col-last { 
  float: left; 
  width: 25%; 
}

.panel-3col .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-3col .panel-separator {
  margin: 0 0 1em 0;
}
